{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<div class="container p-2">
    <a name="aboutApp"></a>
    <div class="card text-justify mb-3 border-0 bg-transparent mb-5">
        <div class="row no-gutters">
            <div class="col-lg-8">
                <img src="{% static 'main/img/11.webp'%}" width="100%">
            </div>
            <div class="col-lg-4">
                <div class="card-body ">
                    <h3 class="card-title">Про додаток</h3>
                    <p class="card-text">
                        В нашому додатку Ви зможете вивчити слова з англійської мови. Якщо Ви зареструєтеся,
                        отримаєте можливість переглядати списки вже вивчених слів, а також слів, які Ви вчите зараз.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card lg-3 border-0 bg-transparent">
        <a name="instructionApp"></a>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="card-body text-justify">
                    <h3 class="card-title">Інструкція</h3>
                    <p class="card-text">
                        Щоб почати вивчення слів натисніть <a href="learning.html">тут</a>
                        або перейдіть на вкладку "Вивчення слів"
                    </p>
                    <p class="card-text">
                        Щоб пройти тестування натисніть <a href="testing.html">тут</a>
                        або перейдіть на вкладку "Тестування"
                    </p>
                    <p class="font-weight-bold">УВАГА!!!</p>
                    <p class="card-text">
                        Щоб пройти тестування на знання слів, потрібно додати слова в список "Вивчаю"
                        на вкладці "Вивчення слів".
                    </p>
                    <p class="card-text">
                        Щоб додати слово в список "Вивчаю", потрібно на картці з цим словом натиснути кнопку
                        "Вивчаю!"
                    </p>
                    <p class="card-text">
                        В список "Вивчені слова" слова додаються тільки тоді, коли Ви пройшли тестування.
                    </p>
                    <p class="card-text">
                        Переглянути списки слів можна в профілі.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="mt-5" src="{% static 'main/img/manual-book-13716287.jpg'%}" width="100%">
            </div>
        </div>
    </div>
</div>
{% endblock %}
