{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <div class="card block-opacity border-primary mb-3">
        <div class="card-header text-dark">Як переводиться слово?</div>
        <div class="card-body text-center text-primary p-0">
            <p class="card-text pb-4 card-text-language">way</p>
        </div>
        <div class="card-footer row">
            <div class="col-lg-9 col-md-8 col-sm-6 text-md-right text-sm-left" style="display: inline-block;">
                <button type="button" class="btn btn-outline-primary mx-lg-5 mx-md-3">шлях</button>
                <button type="button" class="btn btn-outline-primary mx-lg-5 mx-md-3">вигляд</button>
                <button type="button" class="btn btn-outline-primary mx-lg-5 mx-md-3">подія</button>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 text-sm-right" style="display: inline-block;">
                <button type="button" class="btn btn-danger">Наступне слово ></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

